    {% extends "registration/base.html" %} 
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="logincont">
                <!-- Image beside Login-Form -->
                
                <div class="loginimage">
                    <img src="../../static/images/instagrampicture2.png" alt="instagram login phone ">
                </div>
                <!-- Output to Display error in login -->
            </div>
            <div class="border-top pt-3">
                <small class="text-muted">Don't have an account?
                    <a href="{% url 'signup' %}" class="ml-2">Sign Up</a>
                </small>
            </div>
        </div>
        <div class="col-md-6">
            <div class="loginform">
                <div class="card m-3 p-3">
                    <h1 class="text-center">Log In</h1>
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit">Log In</button>
                    </form>
                </div>
    
            </div>
        </div>
    </div>           
</div>

{% endblock %}
