{% extends "instapp/base.html" %} {% block content %}
<div class="container">
  <div class="card m-3 p-3">
    <form action="" method="POST">
      {% csrf_token %} {{form.as_p}}
      <button type="submit">Sign Up</button>
    </form>
  </div>
</div>
<article class="agXmL">
  <div class="rgFsT ">
    <div class="gr27e ">
      <h1 class="NXVPg Szr5J  coreSpriteLoggedOutWordmark">Instagram</h1>
      <div class="P8adC">
        <form class="XFYOY" method="post">
          <h2 class="vvzhL ">
            Sign up to see photos and videos from your friends.
          </h2>
          <div
            class="                   Igw0E     IwRSH      eGOV_         _4EzTm    bkEs3                          CovQj                  jKUp7          DhRcB                                                    "
          >
            <button class="sqdOP  L3NKy   y3zKF     " type="button">
              <span class="coreSpriteFacebookIconInverted cneKx"></span>Log in
              with Facebook
            </button>
          </div>
          <div class="K-1uj hKTMS">
            <div class="s311c"></div>
            <div class="_0tv-g">or</div>
            <div class="s311c"></div>
          </div>
          <div class="WZdjL">
            <div class="_9GP1n   ">
              <label class="f0n8F "
                ><span class="_9nyy2">Mobile Number or Email</span
                ><input
                  aria-label="Mobile Number or Email"
                  aria-required="true"
                  autocapitalize="off"
                  autocomplete="tel"
                  autocorrect="off"
                  name="emailOrPhone"
                  type="text"
                  class="_2hvTZ pexuQ zyHYP"
                  value=""
              /></label>
              <div class="i24fI"></div>
            </div>
          </div>
          <div class="WZdjL">
            <div class="_9GP1n   ">
              <label class="f0n8F "
                ><span class="_9nyy2">Full Name</span
                ><input
                  aria-label="Full Name"
                  aria-required="false"
                  autocapitalize="sentences"
                  autocorrect="off"
                  name="fullName"
                  type="text"
                  class="_2hvTZ pexuQ zyHYP"
                  value=""
              /></label>
              <div class="i24fI"></div>
            </div>
          </div>
          <div class="WZdjL">
            <div class="_9GP1n   ">
              <label class="f0n8F "
                ><span class="_9nyy2">Username</span
                ><input
                  aria-label="Username"
                  aria-required="true"
                  autocapitalize="off"
                  autocorrect="off"
                  maxlength="30"
                  name="username"
                  type="text"
                  class="_2hvTZ pexuQ zyHYP"
                  value=""
              /></label>
              <div class="i24fI"></div>
            </div>
          </div>
          <div class="WZdjL">
            <div class="_9GP1n   ">
              <label class="f0n8F "
                ><span class="_9nyy2">Password</span
                ><input
                  aria-label="Password"
                  aria-required="true"
                  autocapitalize="off"
                  autocomplete="new-password"
                  autocorrect="off"
                  name="password"
                  type="password"
                  class="_2hvTZ pexuQ zyHYP"
                  value=""
              /></label>
              <div class="i24fI"></div>
            </div>
          </div>
          <div>
            <div
              class="                   Igw0E     IwRSH      eGOV_         _4EzTm    bkEs3                          CovQj                  jKUp7          DhRcB                                                    "
            >
              <button class="sqdOP  L3NKy   y3zKF     " type="submit">
                Sign up
              </button>
            </div>
          </div>
          <p class="g4Vm4">
            By signing up, you agree to our
            <a target="_blank" href="https://help.instagram.com/581066165581870"
              >Terms</a
            >
            ,
            <a target="_blank" href="https://help.instagram.com/519522125107875"
              >Data Policy</a
            >
            and <a target="_blank" href="/legal/cookies/">Cookies Policy</a> .
          </p>
        </form>
      </div>
    </div>
    <div class="gr27e">
      <p class="izU2O">
        Have an account?
        <a href="/accounts/login/?source=auth_switcher">Log in</a>
      </p>
    </div>
    <div class="APQi1">
      <p class="b_nGN">Get the app.</p>
      <div class="iNy2T">
        <a
          class="z1VUo"
          href="https://itunes.apple.com/app/instagram/id389801252?pt=428156&amp;ct=igweb.signupPage.badge&amp;mt=8&amp;vt=lo"
          ><img
            alt="Available on the App Store"
            class="Rt8TI"
            src="/static/images/appstore-install-badges/badge_ios_english-en.png/180ae7a0bcf7.png"/></a
        ><a
          class="z1VUo"
          href="https://play.google.com/store/apps/details?id=com.instagram.android&amp;referrer=utm_source%3Dinstagramweb%26utm_campaign%3DsignupPage%26ig_mid%3D9235FB99-5B50-4DE3-892C-84E599668C8A%26utm_content%3Dlo%26utm_medium%3Dbadge"
          ><img
            alt="Available on Google Play"
            class="Rt8TI"
            src="/static/images/appstore-install-badges/badge_android_english-en.png/e9cd846dc748.png"
        /></a>
      </div>
    </div>
  </div>
</article>
{% endblock content %}
