{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="card m-3 p-3" >
        <div class="row">
            <div class="col-md-6">
                <img src="{{user.profile.image.url}}" alt="" class="img-fluid myimage">
            </div>
            <div class="col-md-6">
                    <h2>{{ user.username }} <button class="ml-5 btn btn-outline-secondary"><a href="{% url 'profile_edit' %}">Edit Profile</a></button></h2>
                    <p>{{user.email}}</p>
            </div>    
        </div>
    </div>
</div>
{% endblock content %}